<h1 class="text-center jumbotron display-1">Eat Da Burger!</h1>

<main class="container">
    <section class="row">
        <section class="col-6">
            <h2 class="text-center">Burgers Up For Grabs</h2>
            <ul>
                {{#each burger_name}}
                {{#unless devoured}}
                <li class="form-control">{{this.burger_name}}</li>
                <button class="btn" data-id="{{this.id}}">Eat</button>
                {{/unless}}
                {{/each}}
            </ul>
        </section>
        <section class="col-6">
            <h2 class="text-center">Missing Burgers(In Your Stomach)</h2>
            <ul>
                {{#each burger_name}}
                {{#if devoured}}
                <li class="form-control">{{this.burger_name}}</li>
                <button class="btn" data-id="{{this.id}}">Delete</button>
                {{/if}}
                {{/each}}
            </ul>
        </section>
    </section>
    <section class="row">
        <section class="col-12">
            <h2 class="text-center">What kind of burger do you want to eat?</h2>
            <input class="rounded input-group mb-2" type="text">
            <button type="submit" class="rounded btn btn-primary float-right">Add A Burger</button>
        </section>
    </section>

</main>